footer{
	text-align: center;
}

header
{
	border: 1px solid black;
}

.centeredButtonGroup
{
	text-align: center;
}

.editing
{
	color: rgb(120, 120, 120);
}

.flexContainer
{
	display: flex;
}

.flexGrow
{
	flex-grow: 1;
}

.list{
	margin: 0;
	padding: 1em;
}

.listItemName
{
	vertical-align: middle;
	text-align: left;
	text-overflow: ellipsis;
}

.listItemQuantity
{
	width: 20%;
}

.listTitleTextActive
{
	font-weight: bold;
	text-align: center;
}

.listTitleText
{
	text-align: center;
	font-weight: bold;
	text-overflow: ellipsis;
}

	.listTitleText.inactive
	{
		background-color: rgb(202, 202, 202);
		font-weight: normal;
	}

.menuButton
{
	float: right;
	width: 3em;
	text-align: center;
}

.navigationButton
{
	height: 3em;
	text-align: center;
	vertical-align: middle;
	width: 100%;
	word-wrap: break-word;
}

.navigationItemContainer
{
	padding: 0.2em;
	text-align: center;
	vertical-align: middle;
	width: 100%;
}

.roundedBorder
{
	border: 1px solid black;
	border-radius: 0.5em;
}

.squaredButtonBig
{
	width: 6em;
	height: 6em;
}

.wideButtonFlexible
{
	width: 100%;
	height: 3em;
}

#amendingErrorMessage
{
	color: red;
	display: none;
	font-weight: bold;
}

#modal
{
    padding: 0.5em;
	position: fixed;
    z-index: 1;
    left: 25%;
    top: 25%;
    width: 50%;
    height: 50%;
    overflow: auto;
    background-color: rgb(255, 193, 7);
    background-color: rgba(255, 193, 7, 0.95);
}

#login
{
	padding: 5% 0 5% 0;
	text-align: center;
}

#listNavigation
{
	border: 1px solid black;
	margin: 0;
	padding: 0;
	text-align: center;
}

#listTypeSelector
{
	border: 1px;
	margin: 0.5em;	
}
