body{
	font-size: 14pt;
}

footer{
	text-align: center;
}

header
{
	border: 1px solid black;
}

.centeredButtonGroup
{
	text-align: center;
}

.editing
{
	color: rgb(120, 120, 120);
}

.flexContainer
{
	display: flex;
}

.flexGrow
{
	flex-grow: 1;
}

.list
{
	padding: 1%;
}

.listHeader
{
	width: 100%;
}

.listItemName
{
	align-items: center;
	display: flex;
	text-align: left;
	overflow: hidden;
}


.listItemQuantity
{
	position: relative;
	width: 20%;
}

.listItemText
{
	overflow: hidden;
	text-overflow: ellipsis;
}

.listTitleTextActive
{
	font-weight: bold;
	text-align: center;
}

.listTitleText
{
	text-align: center;
	font-weight: bold;
	white-space: nowrap;
}

	.listTitleText.inactive
	{
		background-color: rgb(202, 202, 202);
		font-weight: normal;
	}

.menuButton
{
	float: right;
	width: 3em;
	text-align: center;
}

.navigationButton
{
	height: 3em;
	text-align: center;
	vertical-align: middle;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
}

.navigationItemContainer
{
	padding: 0.2em;
	text-align: center;
	vertical-align: middle;
	width: 100%;
}

.roundedBorder
{
	border: 1px solid black;
	border-radius: 0.5em;
}

.squaredButtonBigResponsive
{
	width: 25vw;
    height: 25vw;
    max-width: 6em;
    max-height: 6em;
}

.wideButtonFlexible
{
	width: 100%;
	height: 3em;
}

#amendingErrorMessage
{
	color: red;
	display: none;
	font-weight: bold;
}

#modal
{
    padding: 0.5em;
	position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 80%;
	margin: 10%;
    overflow: auto;
    background-color: rgb(255, 193, 7);
    background-color: rgba(255, 193, 7, 0.95);
}

#login
{
	padding: 5% 0 5% 0;
	text-align: center;
}

#listNavigation
{
	border: 1px solid black;
	margin: 0;
	padding: 0;
	text-align: center;
	overflow: hidden;
}

#listTypeSelector
{
	border: 1px;
	margin: 0.5em;	
}

#titleImage
{
	width: 100%;
}

#titleImageContainer
{
	display: flex;
	align-items: center;
}