body{
	font-size: 14pt;
}

footer{
	text-align: center;
}

header
{
	border: 1px solid black;
}

.centeredButtonGroup
{
	text-align: center;
}

.editing
{
	color: rgb(120, 120, 120);
}

.flexContainer
{
	display: flex;
}

.flexGrow
{
	flex-grow: 1;
}

.list
{
	padding: 1%;
}

.listHeader
{
	width: 100%;
}

.listItemName
{
	align-items: center;
	display: flex;
	overflow: hidden;
	text-align: left;
}


.listItemQuantity
{
	position: relative;
	width: 20%;
}

.listItemText
{
	overflow: hidden;
	text-overflow: ellipsis;
}

.listTitleTextActive
{
	font-weight: bold;
	text-align: center;
}

.listTitleText
{
	font-weight: bold;
	text-align: center;
	white-space: nowrap;
}

	.listTitleText.inactive
	{
		background-color: rgb(202, 202, 202);
		font-weight: normal;
	}

.menuButton
{
	float: right;
	text-align: center;
	width: 3em;
}

.navigationButton
{
	align-items: center;
	background-color: rgb(240, 240, 240);
	display: flex;
	height: 3em;
	justify-content: center;
	padding: 0 2%;
	width: 100%;
}

	.navigationButton a
	{
		overflow: hidden;
		text-overflow: ellipsis;
	}

.navigationItemContainer
{
	padding: 0.2em;
	text-align: center;
	vertical-align: middle;
	width: 100%;
}

.roundedBorder
{
	border: 1px solid black;
	border-radius: 0.5em;
}

.squaredButtonBigResponsive
{
    height: 25vw;
    max-height: 6em;
    max-width: 6em;
	width: 25vw;
}

.tooltipCarrier
{
    display: inline-block;
    position: relative;
}

.tooltipCarrier .tooltip
{
    background-color: black;
    border-radius: 6px;
    color: #fff;
    padding: 5px 0;
    position: absolute;
    text-align: center;
    visibility: hidden;
    width: 120px;
 
    /* Position the tooltipCarrier text - see examples below! */
    z-index: 1;
}

.tooltipCarrier:hover .tooltip
{
    visibility: visible;
}

.wideButtonFlexible
{
	height: 3em;
	width: 100%;
}

#amendingErrorMessage
{
	color: red;
	display: none;
	font-weight: bold;
}

#modal
{
    background-color: rgb(255, 193, 7);
    background-color: rgba(255, 193, 7, 0.95);
    left: 0;
	margin: 10%;
    overflow: auto;
    padding: 0.5em;
	position: fixed;
    top: 0;
    width: 80%;
    z-index: 1;
}

#login
{
	padding: 5% 0 5% 0;
	text-align: center;
}

#listNavigation
{
	border: 1px solid black;
	margin: 0;
	padding: 0;
	text-align: center;
	overflow: hidden;
}

#listTypeSelector
{
	border: 1px;
	margin: 0.5em;	
}

#titleImage
{
	width: 100%;
}

#titleImageContainer
{
	align-items: center;
	display: flex;
}